
button{
    border-radius: 12px;
    color:rgb(255, 255, 255);
    background-color: rgba(10, 10, 10, 0.6);
    border:none;
    text-align: center;

}
button:hover {
color:black;
    background-color:white;
    transition-duration: 0.2s;
}
